*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    background-color: #f4d04e;
    font-family: 'Figtree', sans-serif;

}

.site-wraper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 22px;
    gap: 1.5rem;
}

.qr-img{
    
    width: 18rem;
    height: 18rem;
}

.qr-img > img{
    width: 100%;
   
}

.text{
    display: flex;
    flex-direction: column;
    width: 18rem;
    margin-top: -140px;
    
}

.text > h4{
    background-color: #f4d04e;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: 950;
    color: #111111;
}

.text >span{
    color: #111111;
    font-size: 14px;
    font-weight: 500;
}